{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}about{% endblock title %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
            
    <p class ="fs-4 text-center">At ShopNow, we believe in providing you with the best shopping experience possible. Our mission is to offer a wide range of high-quality products at competitive prices, all conveniently available at your fingertips.
        <br>
        <strong>Our Story</strong>
            <br>
            ShopNow was founded with a simple yet powerful vision: to create a seamless online shopping platform where customers can find everything they need in one place. We understand the challenges of modern-day shopping - from crowded stores to limited selections - and we set out to change that.
            <br>
            <strong>What We Offer</strong>
            <br>
            Our platform features a diverse selection of products spanning various categories, including:
            
            - Fashion & Apparel
            - Electronics
            
            We partner with trusted brands and suppliers to ensure that every item meets our strict quality standards. Whether you're looking for the latest fashion trends, cutting-edge gadgets, or everyday essentials, ShopNow has you covered.
            <br>
            <strong> Our Commitment</strong>
            <br>
            At ShopNow, customer satisfaction is our top priority. We are dedicated to providing exceptional service at every step of your shopping journey. From easy browsing and secure payments to fast shipping and hassle-free returns, we strive to exceed your expectations.
            <br>
            <strong>Connect With Us</strong>
            <br>
            We value your feedback and are always here to assist you. If you have any questions, concerns, or suggestions, please don't hesitate to reach out to our customer support team. You can contact us via email, phone, or live chat - whatever works best for you.
            
            Thank you for choosing ShopNow. Happy shopping!</p>
        </div>
</div>

{% endblock main-content %}